ul {
  display: flex;
  font-size: 2rem;
  list-style: none;
}

ul li {
  border: 1px solid blue;
  border-radius: 5px;
  margin-left: 1rem;
  padding: 1rem;
}

section {
  background-color: yellow;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
